#community {
    border-top: 1px solid var(--border);
}

#community-links {
    list-style: none;
    cursor: pointer;
}

#community-links li, #community h3 {
    padding: 0.5rem 2rem;
}

.link-icon {
    width: 1.6rem;
    height: 1.6rem;
    padding-right: 0.5rem;
}

#community-links li a {
    font-size: 1rem;
    color: var(--font-color);
    opacity: 70;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.1rem 0;
}