.steps-container {
    display: flex;
    flex-direction: column;
}

.step-desc {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.steps-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}

.step-gap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.steps-list li {
    display: inline-flex;
    gap: 1rem;
    /* height: 120%; */
}

.steps-list h3 {
    font-size: 1.3rem;
    /* margin: 0.75rem 0; */
}

.step-title {
    display: inline;
    align-items: center;
    gap: 0.5rem;
}

.step {
    padding-bottom: 1.75rem;
}

.step-desc a {
    color: var(--primary-color);
}

.step-gap-line {
    display: inline;
    /* height: 100%; */
    height: 0;
    width: 0.2rem;
    transition: height 0.75s ease-out;    
}

.step-gap-line:nth-child(odd) {
    background-color: var(--border);
    height: 100%;
}

.step-gap-line:nth-child(even) {
    background-color: var(--primary-color);
    height: 0;
}

.step-gap-line:nth-child(odd).gap-done {
    height: 0;
}

.step-gap-line:nth-child(even).gap-done {
    height: 100%;
}

li:last-of-type .step-gap-line {
    background-color: red;
    display: none;
}

.wallet-address, .server-select {
    display: inline;
    padding: 3px 12px;
    border-radius: 10px;
    font-weight: bold;
}
.wallet-address, .server-select, .mining-software {
    font-size: 1.1rem;
    width: min(500px, 100%);
    box-sizing: border-box;
}

.mining-software {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.mining-software:hover {
    border-color: var(--primary-color);
}

.copy-holder:hover:not(.step-done) {
    animation: copy-animation 0.75s;
    font-size: 24px;
    font-variation-settings: 'FILL'0, 'wght'700;
}

.copy-holder, .mining-software-header h4 {
    cursor: pointer;
    padding: 0.1rem;
    color: inherit;
}

.step-done {
    animation: feature-animation 0.3s;
    font-variation-settings: 'FILL'1, 'wght'700;
}

.button-holder {
    display: flex;
    gap: 0.3em;
}

.mining-software-header {
    display: flex;
    justify-content: space-between;
}

@keyframes copy-animation {
    0% {
        font-weight: 400;
    }
    100% {
        font-size: 25px;
        font-weight: 700;
    }
}
