.material-symbols-rounded {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

header {
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
}

#main-header {
    height: 3.5rem;
    width: 100%;
}

#logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 2rem;
}

#main-header h1 {
    height: 100%;
    display: inline;
}

#main-header h1 a {
    height: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#main-header-wrapper {
    display: flex;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

.main-nav {
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

#main-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#languages {
    display: flex;
}

#pool-header {
    width: 100%;
    height: 2.75rem;
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    display: flex;
    justify-content: center;
}

#pool-nav {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.pool-nav-link, .search-button, .search-field {
    /* no visited color */
    color: inherit; 
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.search-holder-open {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    width: 100%;
    height: auto;

    border-radius: 10px;
}


.address-list {
    display: none;
}

.search-holder-open .address-list {
    display: block;
    width: 100%;
}

.address-list p {
    cursor: pointer;
    padding: 0.35rem 1rem ;
    /* padding-left: 1rem; */
    word-wrap:break-word;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}

.address-list p:hover
{
    background-color: rgb(55, 55, 55);
}

.addr-span {
    height: 100%;
    display: block;
    word-wrap: break-word;
    width: 90%;

}

.addr-close {
    border-radius: 5px;
}

.addr-close:hover {
    background-color: red;
}

.search-button-open {
    min-width: 2rem;
    max-width: 20%;
    border-radius: 0 10px 10px 0;
    height: 90%;
    background-color: var(--primary-color);
    margin-right: 6px;
}

.search-input {
    display: none;
    border-radius: 10px 0 0 10px;
    height: 2.2rem;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    padding-inline-start: 10px;
    box-sizing: border-box;

}

.search-holder-open .search-input {
    display: flex;
    width: 100%;
}

.search-button {
    width: 100%;
    padding-left: 1rem;
    height: 2.2rem;
    cursor: pointer;
}

.search-button-icon {
    display: inline;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0;
}

.pool-nav-icon {
    /* display: none; */
    width: 1.75rem;
    height: 1.75rem;
    padding-inline-end: 0.75rem;
}

.pool-nav-link-active {
    /* animation-iteration-count: 1; */
    animation: fade-hover 0.75s;
}

@keyframes fade-hover {
    0% {
        background-color: var(--primary-color-light);
    }

    100% {}
}

.pool-nav-link-active .pool-nav-icon {
    animation: activate-tab 0.75s;
    font-variation-settings: 'FILL'1, 'wght'700, 'GRAD'0;
    font-size: 28px;
}

@keyframes activate-tab {
    0% {
        font-variation-settings: 'FILL'1, 'wght'400, 'GRAD'0;
        font-size: 24px;

    }

    100% {
        font-variation-settings: 'FILL'1, 'wght'700, 'GRAD'0;
        font-size: 28px;
    }
}

#borgir-menu {
    color: inherit;
    background-color: transparent;
    border: none;
    display: none;
    margin-inline-start: auto;
    margin-inline-end: 1rem;
    height: 100%;
    align-items: center;
}

#borgir-menu span {
    font-size: 32px;
}

.theme-change {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--font-color);
    /* border: 2px solid var(--border); */
    border: 0;
    border-radius: 14px;
    padding: 0 1rem;
    font-size: 1rem;
    text-align: center;
}

.icon-change {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--font-color);
    border: 0;
}

.coin-icon:hover {
    animation: grow 1s linear;
}


@media (hover: hover) {
    .theme-change:hover {
        /* background-color: gray; */
        transition: background-color 0.25s ease;
        background-color: gray;
    }

    .pool-nav-link:hover {
        cursor: pointer;
        transition: background-color none;
        /* background-color: gray; */
        background-color: var(--primary-color-light);
    }
}

.theme-change-icon {
    width: 2.25rem;
    height: 2.25rem;
}

.coin-icon-header {
    width: 1.8rem;
    height: 1.8rem;
    padding-right: 0.75rem;
}

.get-started {
    display: flex;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 2px solid var(--secondary-color);
    border-radius: 14px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 0 1rem;
    align-items: center;
}

#close-search {
    width: 3rem;
    height: 3rem;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-left: 6px;
}

@media (max-width: 800px) {
    .search-name-text {
        display: none;
    }

    
    .search-button {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .pool-nav-icon {
        display: inline;
        padding-inline-end: 0rem;
    }

    #pool-nav {
        padding: 0 0;
    }

    .nav-link-text {
        display: none;
    }
}

.nav-item {
    margin: 0.25rem 0;
    min-height: 2.25rem;
    width: auto;
}

@media (max-width: 600px) {
    .main-nav {
        transform: translateX(100%);
        background-color: var(--border);

        flex-direction: column;

        position: fixed;
        top: 3.5rem;
        inset-inline-end: 0%;

        z-index: 1;
        width: 100%;
        /* opacity: 0.95; */
        row-gap: 1rem;
    }

    .main-nav-open {
        transition: transform 0.25s ease-in-out;
        transform: translateX(0);
    }

    .nav-item {
        margin: 0 0.5rem;
    }

    /* borgir menu*/
    #main-links {
        flex-direction: column;
    }

    #borgir-menu {
        display: flex;
    }


    #main-links a {
        padding: 1rem;
    }
}
