header {
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
}

#main-header {
    height: 3.5rem;
    width: 100%;
}

#main-header a {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 2rem;
}

#main-header h1 {
    height: 100%;
    display: inline;
}

#main-header h1 a {
    height: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#main-header-wrapper {
    display: flex;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

#main-nav {
    margin-left: auto;
}

#main-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#main-links a {
    color: inherit;
}

#languages {
    display: flex;
}

#pool-header {
    width: 100%;
    height: 2.75rem;
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    display: flex;
    justify-content: center;
}

#pool-nav {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: inline-flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

#pool-nav a, .search-button, #search-field {
    color: inherit;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#pool-header a:hover, .search-button:hover {
    cursor: pointer;
    background-color: gray;
}

.search-button-open {
    min-width: 2rem;
    max-width: 20%;
}

#search-input {
    display: none;
    width: 0;
    transition: width 1s;
    height: 80%;
    border-radius: 5px;
    margin-inline-start: 0.3rem;
    margin-left: auto;
    font-weight: bold;
    font-size: 1rem;
    /* background-color: lightgray; */
    outline: none;
}

.search-button svg {
    display: inline;
    padding-inline-start: 0.75rem;
}

.pool-nav-icon {
    display: none;
    width: 1.75rem;
    height: 1.75rem;
}

#borgir-menu {
    color: inherit;
    background-color: transparent;
    border: none;
    display: none;
    margin-inline-start: auto;
    margin-inline-end: 1rem;
    height: 100%;
    align-items: center;
}

#borgir-menu svg {
    height: 60%;
}

#theme-change {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: 2px solid var(--border);
    border-radius: 14px;
    padding: 0 1rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    text-align: center;
}

#theme-change:hover {
    background-color: gray;
}

@media (max-width: 1000px) {
    .search-button span {
        display: none;
    }

    .search-button svg {
        padding: 0;
    }

    /* borgir menu*/
    #main-links {
        flex-direction: column;
    }

    #borgir-menu {
        display: flex;
    }

}

@media (max-width: 600px) {
    .pool-nav-icon {
        display: inline;
    }

    #pool-nav {
        padding: 0 0;
    }

    #pool-nav a span {
        display: none;
    }
}