.features p {
    font-size: 1.15rem;
}

.feature-icon {
    font-size: 2rem;
    font-weight: bold;
    font-variation-settings: 'wght' 500;
}

.home-title {
    font-size: 1.8rem;
    font-weight: 00;
}
.coin-logo-preview {
    width: 2rem;
    height: 2rem;
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
}

.coin-name-preview {
    font-size: 1.8rem;
}

.coins-preview-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.coin-preview {
    border: solid 2px var(--border);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.coin-preview-header p {
    margin: 0.4rem 0;
}

.coin-preview h2 {
    text-align: left;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

.coin-icon {
    width: 2rem;
    height: 2rem;
}

.earn-estimates {
    display: flex;
    flex-direction: row;
}

.estimate-title {
    padding-bottom: 0.65rem;
}

.mining-estimate, .staking-estimate {
    padding: 0.8rem 0;
    width: 100%;
}

.start-button {
    margin-top: 1rem;
    padding: 0.5rem 0.85rem;
    max-width: fit-content;
}

@media (max-width: 1200px) {
    #coins-preview-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .earn-estimates {
        flex-direction: column;
    }
}