#introduction {
    text-align: center;
    padding-top: 2rem;
}

#features {
    padding: 0 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

#features p {
    width: 100%;
    border-left: 1px solid var(--border);
}

#coins-preview-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.coin-preview {
    width: 100%;
    border: solid 2px var(--border);
    border-radius: 1rem;
    padding: 1rem 2rem;
    max-width: 1000px;
}

.coin-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-preview-header span {
    font-size: 0.9rem;
}

.coin-preview h2 {
    text-align: left;
    font-size: 1.75rem;
    display: inline;
}

.coin-icon {
    width: 2rem;
    height: 2rem;
}

.earn-estimates {
    display: flex;
    flex-direction: row;
}

.estimate-title {
    padding-bottom: 0.65rem;
}

.mining-estimate, .staking-estimate {
    padding: 0.8rem 0;
    width: 100%;
}

.start-button {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 0.85rem;
    color: inherit;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 0.5rem;
}

@media (max-width: 1200px) {
    #coins-preview-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .earn-estimates {
        flex-direction: column;
    }
}